<div class="mb-5"></div>
<div class="container-fluid">
  <br>
  <div class="container-fluid jumbotron-default border p-2">
    <h3>Portfolio</h3>
    <div class="row d-flex justify-content-center">
      <div class="frame col-xs-3">
        <img src="../../assets/powerbyis.jpg" alt="">
        <div class="details">
          <h2>Power By IS</h2>
        </div>
      </div>
      <div class="ml-1"></div>
      <div class="frame col-xs-3">
        <img src="../../assets/biproduction.jpg" alt="">
        <div class="details">
          <h2>BI Production</h2>
        </div>
      </div>
      <div class="ml-1"></div>
      <div class="frame col-xs-3">
        <img src="../../assets/mobiconnect1.jpg" alt="">
        <div class="details">
          <h2>Mobi Connect</h2>
        </div>
      </div>
      <div class="ml-1"></div>
      <div class="frame col-xs-3">
        <img src="../../assets/mobiconnect2.jpg" alt="">
        <div class="details">
          <h2>Mobi Connect</h2>
        </div>
      </div>
    </div>
    <div class="mb-1"></div>
    <div class="row d-flex justify-content-center">
      <div class="frame col-xs-3">
        <img src="../../assets/mobiconnect3.jpg" alt="">
        <div class="details">
          <h2>Mobi Connect</h2>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="mb-3"></div>
